header {
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* transition: var(--transition-two); */
  background-color: hsl(var(--blue-moonstone));
  transform-origin: right;
}

nav {
  gap: 2em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: hsl(var(--white-isabelline));
  font-size: 2rem;
}

.link_container {
  overflow: hidden;
}

/* desktop */
@media screen and (min-width: 768px) {
  header {
    top: 0;
    left: 0;
    height: fit-content;
    justify-content: start;
    width: fit-content;
    background-color: #ffffff00;
  }

  nav {
    flex-direction: row;
    padding: 1em;
  }

  a {
    font-size: 1.5rem;
    color: hsl(var(--black-onyx));
  }
}